In [1]:
import pandas as pd

In [9]:
import pandas as pd

# Read the dataset from a CSV file with the appropriate encoding
df = pd.read_csv('banklist.csv', encoding='latin-1')

# Display the first few rows of the dataset
print(df.head())

                   Bank Name               City  State   Cert   \
0         First Republic Bank      San Francisco     CA  59017
1              Signature Bank           New York     NY  57053
2         Silicon Valley Bank        Santa Clara     CA  24735
3           Almena State Bank             Almena     KS  15426
4  First City Bank of Florida  Fort Walton Beach     FL  16748

                Acquiring Institution  Closing Date    Fund
0            JPMorgan Chase Bank, N.A.      1-May-23  10543
1                  Flagstar Bank, N.A.     12-Mar-23  10540
2  FirstCitizens Bank & Trust Company     10-Mar-23  10539
3                          Equity Bank     23-Oct-20  10538
4            United Fidelity Bank, fsb     16-Oct-20  10537

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bank Name               566 non-null    object
 1   City                    566 non-null    object
 2   State                   566 non-null    object
 3   Cert                    566 non-null    int64
 4   Acquiring Institution   566 non-null    object
 5   Closing Date            566 non-null    object
 6   Fund                    566 non-null    int64
dtypes: int64(2), object(5)
memory usage: 31.1+ KB

In [13]:
print(df.columns)

Index(['Bank Name ', 'City ', 'State ', 'Cert ', 'Acquiring Institution ',
       'Closing Date ', 'Fund'],
      dtype='object')

In [14]:
df.columns = df.columns.str.strip()

In [15]:
state_counts = df['State'].nunique()
print(f"Number of unique states: {state_counts}")

Number of unique states: 44

In [16]:
top_cities = df['City'].value_counts().head(5)
print("Top 5 cities:")
print(top_cities)

Top 5 cities:
Chicago      20
Atlanta      10
Phoenix       6
Naples        5
Las Vegas     4
Name: City, dtype: int64

In [17]:
earliest_date = df['Closing Date'].min()
latest_date = df['Closing Date'].max()
print(f"Earliest closing date: {earliest_date}")
print(f"Latest closing date: {latest_date}")

Earliest closing date: 1-Aug-08
Latest closing date: 9-Sep-11

In [18]:
average_fund = df['Fund'].mean()
print(f"Average fund value: {average_fund:.2f}")

Average fund value: 10039.55

In [19]:
institution_avg_fund = df.groupby('Acquiring Institution')['Fund'].mean()
print("Average fund value by acquiring institution:")
print(institution_avg_fund)

Average fund value by acquiring institution:
Acquiring Institution
1st United Bank                        10296.666667
Advantage National Bank Group          10350.000000
Alerus Financial, N.A.                 10112.000000
Allegheny Valley Bank of Pittsburgh    10000.000000
Alma Bank                              10433.000000
                                           ...
Whidbey Island Bank                    10253.000000
Whitney Bank                           10526.000000
Wilshire State Bank                    10072.000000
Xenith Bank                            10385.000000
Your Community Bank                    10474.000000
Name: Fund, Length: 300, dtype: float64