In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Read the dataset from a CSV file with the appropriate encoding
df = pd.read_csv('banklist.csv', encoding='latin-1')

# Display the first few rows of the dataset
print(df.head())

                   Bank Name               City  State   Cert   \
0         First Republic Bank      San Francisco     CA  59017
1              Signature Bank           New York     NY  57053
2         Silicon Valley Bank        Santa Clara     CA  24735
3           Almena State Bank             Almena     KS  15426
4  First City Bank of Florida  Fort Walton Beach     FL  16748

                Acquiring Institution  Closing Date    Fund
0            JPMorgan Chase Bank, N.A.      1-May-23  10543
1                  Flagstar Bank, N.A.     12-Mar-23  10540
2  FirstCitizens Bank & Trust Company     10-Mar-23  10539
3                          Equity Bank     23-Oct-20  10538
4            United Fidelity Bank, fsb     16-Oct-20  10537

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bank Name               566 non-null    object
 1   City                    566 non-null    object
 2   State                   566 non-null    object
 3   Cert                    566 non-null    int64
 4   Acquiring Institution   566 non-null    object
 5   Closing Date            566 non-null    object
 6   Fund                    566 non-null    int64
dtypes: int64(2), object(5)
memory usage: 31.1+ KB

In [4]:
print(df.columns)

Index(['Bank Name ', 'City ', 'State ', 'Cert ', 'Acquiring Institution ',
       'Closing Date ', 'Fund'],
      dtype='object')

In [5]:
df.columns = df.columns.str.strip()

In [6]:
state_counts = df['State'].nunique()
print(f"Number of unique states: {state_counts}")

Number of unique states: 44

In [7]:
top_cities = df['City'].value_counts().head(5)
print("Top 5 cities:")
print(top_cities)

Top 5 cities:
Chicago      20
Atlanta      10
Phoenix       6
Naples        5
Las Vegas     4
Name: City, dtype: int64

In [8]:
earliest_date = df['Closing Date'].min()
latest_date = df['Closing Date'].max()
print(f"Earliest closing date: {earliest_date}")
print(f"Latest closing date: {latest_date}")

Earliest closing date: 1-Aug-08
Latest closing date: 9-Sep-11

In [9]:
average_fund = df['Fund'].mean()
print(f"Average fund value: {average_fund:.2f}")

Average fund value: 10039.55

In [10]:
institution_avg_fund = df.groupby('Acquiring Institution')['Fund'].mean()
print("Average fund value by acquiring institution:")
print(institution_avg_fund)

Average fund value by acquiring institution:
Acquiring Institution
1st United Bank                        10296.666667
Advantage National Bank Group          10350.000000
Alerus Financial, N.A.                 10112.000000
Allegheny Valley Bank of Pittsburgh    10000.000000
Alma Bank                              10433.000000
                                           ...
Whidbey Island Bank                    10253.000000
Whitney Bank                           10526.000000
Wilshire State Bank                    10072.000000
Xenith Bank                            10385.000000
Your Community Bank                    10474.000000
Name: Fund, Length: 300, dtype: float64

In [11]:
df1 = pd.read_csv('BalanceSheetSummaries.csv', encoding='latin-1')

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 40 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Fund Code                                   116 non-null    object
 1   Receivership                                114 non-null    object
 2   Year                                        114 non-null    float64
 3   Quarter                                     114 non-null    object
 4   Failure Date                                114 non-null    object
 5   Cash and Investments                        114 non-null    float64
 6   Due from FDIC Corp and Receivables          114 non-null    float64
 7   Assets in Liquidation                       114 non-null    float64
 8   Estimated Loss on Assets in Liquidation(1)  114 non-null    float64
 9   Total Assets                                114 non-null    float64
 10  Administrative Liabilities                  114 non-null    float64
 11  FDIC Subrogated Deposit Claim               114 non-null    float64
 12  Uninsured Deposit Claims                    114 non-null    float64
 13  Other Claimant Liabilities                  114 non-null    float64
 14  Unproven Claims                             114 non-null    float64
 15  Total Liabilities(2)                        0 non-null      float64
 16  Net Worth (Deficit)                         114 non-null    float64
 17  Total Liabilities and Net Worth             114 non-null    float64
 18  FDIC Subrogated Claim                       114 non-null    float64
 19  FDIC Subrogated Claim %                     114 non-null    float64
 20  Uninsured Depositors                        114 non-null    float64
 21  Uninsured Depositors %                      114 non-null    float64
 22  Subtotal - Proven Deposit Claims            114 non-null    float64
 23  Subtotal - Proven Deposit Claims %          114 non-null    float64
 24  Dividends Paid to Date                      114 non-null    float64
 25  Dividends Paid to Date %                    114 non-null    float64
 26  Total Unpaid Deposit Claims                 114 non-null    float64
 27  Total Unpaid Deposit Claims %               114 non-null    float64
 28  General Creditor                            114 non-null    float64
 29  General Creditor %                          114 non-null    float64
 30  Senior Debt Holders                         114 non-null    float64
 31  Senior Debt Holders %                       114 non-null    float64
 32  Subordinated Debt Holders                   114 non-null    float64
 33  Subordinated Debt Holders %                 114 non-null    float64
 34  Subtotal- Other Claimants                   114 non-null    float64
 35  Subtotal- Other Claimants %                 114 non-null    float64
 36  Dividends Paid to Date - Other Claimants    114 non-null    float64
 37  Dividends Paid to Date - Other Claimants %  114 non-null    float64
 38  Total Unpaid Other Claimants                114 non-null    float64
 39  Total Unpaid Other Claimants %              114 non-null    float64
dtypes: float64(36), object(4)
memory usage: 36.7+ KB

In [13]:
num_rows, num_cols = df1.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 117
Number of columns: 40

In [14]:
stats = df1.describe()
print(stats)

         Year  Cash and Investments  Due from FDIC Corp and Receivables  \
count   114.0            114.000000                          114.000000
mean   2023.0           7733.394737                           -0.350877
std       0.0          19638.488699                           10.981870
min    2023.0             80.000000                          -78.000000
25%    2023.0           1257.500000                            0.000000
50%    2023.0           2529.500000                            0.000000
75%    2023.0           5547.000000                            0.000000
max    2023.0         153977.000000                           72.000000

       Assets in Liquidation  Estimated Loss on Assets in Liquidation(1)  \
count             114.000000                                  114.000000
mean              291.657895                                 -104.228070
std              1482.094284                                  493.300211
min                 0.000000                                -3909.000000
25%                 0.000000                                    0.000000
50%                 0.000000                                    0.000000
75%                 0.000000                                    0.000000
max             13001.000000                                    0.000000

        Total Assets  Administrative Liabilities  \
count     114.000000                  114.000000
mean     7920.473684                 1111.868421
std     19879.580041                 2950.493481
min        80.000000                    0.000000
25%      1304.000000                    0.000000
50%      2677.000000                    2.000000
75%      5639.250000                   80.250000
max    153977.000000                24452.000000

       FDIC Subrogated Deposit Claim  Uninsured Deposit Claims  \
count                   1.140000e+02                114.000000
mean                    3.160339e+05               1021.605263
std                     1.177712e+06               8880.491770
min                     0.000000e+00                  0.000000
25%                     3.587050e+04                  0.000000
50%                     7.473300e+04                  0.000000
75%                     1.950365e+05                  0.000000
max                     1.209765e+07              94350.000000

       Other Claimant Liabilities  ...  Senior Debt Holders  \
count                1.140000e+02  ...         1.140000e+02
mean                 1.431490e+05  ...         5.331190e+04
std                  1.386600e+06  ...         5.692154e+05
min                  0.000000e+00  ...         0.000000e+00
25%                  3.572500e+02  ...         0.000000e+00
50%                  9.085000e+02  ...         0.000000e+00
75%                  6.569250e+03  ...         0.000000e+00
max                  1.480867e+07  ...         6.077557e+06

       Senior Debt Holders %  Subordinated Debt Holders  \
count             114.000000               1.140000e+02
mean                0.315789               7.827497e+04
std                 3.371709               7.242023e+05
min                 0.000000               0.000000e+00
25%                 0.000000               0.000000e+00
50%                 0.000000               0.000000e+00
75%                 0.000000               0.000000e+00
max                36.000000               7.723052e+06

       Subordinated Debt Holders %  Subtotal- Other Claimants  \
count                   114.000000               1.140000e+02
mean                      7.403509               1.638945e+05
std                      23.020852               1.575422e+06
min                       0.000000               1.400000e+01
25%                       0.000000               4.147500e+02
50%                       0.000000               1.147500e+03
75%                       0.000000               6.659750e+03
max                      96.000000               1.682582e+07

       Subtotal- Other Claimants %  Dividends Paid to Date - Other Claimants  \
count                        114.0                              1.140000e+02
mean                         100.0                              2.074552e+04
std                            0.0                              1.912855e+05
min                          100.0                              0.000000e+00
25%                          100.0                              0.000000e+00
50%                          100.0                              0.000000e+00
75%                          100.0                              0.000000e+00
max                          100.0                              2.017154e+06

       Dividends Paid to Date - Other Claimants %  \
count                                  114.000000
mean                                     4.491228
std                                     20.576748
min                                      0.000000
25%                                      0.000000
50%                                      0.000000
75%                                      0.000000
max                                    100.000000

       Total Unpaid Other Claimants  Total Unpaid Other Claimants %
count                  1.140000e+02                      114.000000
mean                   1.431490e+05                       95.508772
std                    1.386600e+06                       20.576748
min                    0.000000e+00                        0.000000
25%                    3.572500e+02                      100.000000
50%                    9.085000e+02                      100.000000
75%                    6.569250e+03                      100.000000
max                    1.480867e+07                      100.000000

[8 rows x 36 columns]

In [15]:
unique_fund_codes = df1['Fund Code'].unique()
print("Unique Fund Codes:")
print(unique_fund_codes)

Unique Fund Codes:
['10538' '10218' '10057' '10053' '10155' '10369' '10380' '10029' '10064'
 '10396' '10434' '10387' '10478' '10171' '10134' '10441' '10193' '10058'
 '10063' '10162' '10534' '10103' '10180' '10101' '10100' '10412' '10068'
 '10486' '10117' '10402' '10265' '10205' '10513' '10317' '10329' '10535'
 '10306' '10054' '10055' '10315' '10374' '10333' '10366' '10025' '10251'
 '10488' '10008' '10526' '10036' '10047' '10334' '10433' '10021' '10428'
 '10105' '10462' '10027' '10465' '10427' '10257' '10161' '10166' '10007'
 '10384' '10095' '10120' '10308' '10273' '10221' '10392' '10056' '10448'
 '10507' '10429' '10050' '10463' '10032' '10048' '10378' '10139' '10140'
 '10115' '10297' '10431' '10525' '10230' '10276' '10216' '10164' '10135'
 '10425' '10524' '10041' '10013' '10059' '10481' '10358' '10217' '10234'
 '10324' '10275' '10536' '10363' '10195' '10102' '10147' '10331' '10296'
 '10125' '10530' '10015' '10231' '10060' '10224' nan
 " (1) Valuation of Assets/Loss Allowances: Assets of the receivership are shown at values representing cash on deposit or the book value of amounts invested; the principal balance of loans, notes, other debt instruments or receivables (note that interest on these assets is not accrued after failure but is recognized when received); the foreclosed value of real and/or personal property or the book value of assets (cost less depreciation or amortization through date of the institution's failure); and the historical cost of the net investment in subsidiaries, partnerships or joint ventures, adjusted where appropriate to reflect the receivership's portion of the underlying net earnings or losses. An Estimated Loss on Assets is provided when anticipated future asset disposition proceeds, including associated expenses, are less than recorded amounts. Future asset disposition proceeds are generally estimated by determining, via sampling or recent disposition activity, the recovery rates for similar assets across all receiverships. However, actual recovery rates for this receivership may differ according to the quality and type of individual asset, as well as over time with changing market conditions. Accordingly, the gains or losses ultimately realized for this receivership will likely vary from amounts estimated."
 ' (2) The Total Liabilities line item reflects those actual and accrued liabilities recorded on the accounting records of this receivership as of the date of this report. The Total Liabilities line item may not include other liabilities arising from Estimated Interest on Claims and Income Taxes, as these liabilities may not be recognized as of the report date, in accordance with current receivership accounting practices.']

In [16]:
average_cash_investments = df1['Cash and Investments'].mean()
print(f"Average Cash and Investments: {average_cash_investments:.2f}")

Average Cash and Investments: 7733.39

In [17]:
non_null_counts = df1.count()
print("Non-null Value Counts:")
print(non_null_counts)

Non-null Value Counts:
Fund Code                                     116
Receivership                                  114
Year                                          114
Quarter                                       114
Failure Date                                  114
Cash and Investments                          114
Due from FDIC Corp and Receivables            114
Assets in Liquidation                         114
Estimated Loss on Assets in Liquidation(1)    114
Total Assets                                  114
Administrative Liabilities                    114
FDIC Subrogated Deposit Claim                 114
Uninsured Deposit Claims                      114
Other Claimant Liabilities                    114
Unproven Claims                               114
Total Liabilities(2)                            0
Net Worth (Deficit)                           114
Total Liabilities and Net Worth               114
FDIC Subrogated Claim                         114
FDIC Subrogated Claim %                       114
Uninsured Depositors                          114
Uninsured Depositors %                        114
Subtotal - Proven Deposit Claims              114
Subtotal - Proven Deposit Claims %            114
Dividends Paid to Date                        114
Dividends Paid to Date %                      114
Total Unpaid Deposit Claims                   114
Total Unpaid Deposit Claims %                 114
General Creditor                              114
General Creditor %                            114
Senior Debt Holders                           114
Senior Debt Holders %                         114
Subordinated Debt Holders                     114
Subordinated Debt Holders %                   114
Subtotal- Other Claimants                     114
Subtotal- Other Claimants %                   114
Dividends Paid to Date - Other Claimants      114
Dividends Paid to Date - Other Claimants %    114
Total Unpaid Other Claimants                  114
Total Unpaid Other Claimants %                114
dtype: int64

In [18]:
df1.isnull()

,Fund Code,Receivership,Year,Quarter,Failure Date,Cash and Investments,Due from FDIC Corp and Receivables,Assets in Liquidation,Estimated Loss on Assets in Liquidation(1),Total Assets,...,Senior Debt Holders,Senior Debt Holders %,Subordinated Debt Holders,Subordinated Debt Holders %,Subtotal- Other Claimants,Subtotal- Other Claimants %,Dividends Paid to Date - Other Claimants,Dividends Paid to Date - Other Claimants %,Total Unpaid Other Claimants,Total Unpaid Other Claimants %
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
114,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
115,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
116,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [19]:
df.isnull()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
561,False,False,False,False,False,False,False
562,False,False,False,False,False,False,False
563,False,False,False,False,False,False,False
564,False,False,False,False,False,False,False
565,False,False,False,False,False,False,False